/*Login頁面*/
.login-welcome {
    width: unset;
}

#main-outlet-wrapper {
    box-sizing: border-box;
    width: 100%;
    // display: grid;
    grid-template-areas: none;
    grid-template-rows: none;
    grid-template-columns: none;
    gap: 0;
    display: contents;
}

body.static-login .login-welcome {
    width: 100vw;
    background-color: transparent;
    border: 1px solid rgba(0,0,0,0);
    text-align: center;
    padding: 2em;
    box-shadow: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-page {
    max-width: unset;
}

.wrap .contents {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 1em;
}

//在手機版Before Header增加回首頁的LOGO並隱藏原本的welcome-banner__title
.welcome-banner {
    display: none;
}

.logo-wrapper {
    display: flex;
    justify-content: center; /* 水平置中 */
    align-items: center;
    padding: 10px 0;
    background: var(--header_background);
    height: 5em;
    border-bottom: 1.5px solid var(--active-color);
}

.custom-bmcc-logo {
    width: clamp(300px, 80vw, 1000px);
    height: auto;
}

.custom-bmcc-logo,
.custom-bmcc-logo-link {
    cursor: pointer;
}

//component導行列
.breadcrumbs__links {
    display: flex;
    list-style: none;
    margin: 1em 0;
}

//疊層順序
.signup-page-cta {
    z-index: 3;
}

.login-page-cta {
    z-index: 3;
}

#main-outlet {
    z-index: 2;
    margin: 0 2.5em;
}

/*首頁Heaader*/
.welcome-banner__title {
    background-size: clamp(150px, 80vw, 500px);
}

//隱藏Header New topic按鈕
// .mobile-view #new-create-topic {
//     display:none;
// }
.d-header #site-logo {
    display: none;
}

//Header高度
.d-header {
    height: 5em;
}

.d-header-icons .d-icon {
    font-size: var(--font-up-2);
}


/*首頁的Navgation*/
// .d-header .home-logo-wrapper-outlet {
//     display: none;
// }

.header-cloak {
    background-color: rgba(0, 0, 0, 0);
}

.before-header-panel-outlet+.panel.before-header-panel-outlet+.panel {
    width: 100%;
    justify-content: center;
}

.list-controls .container #create-topic {
    display: none;
}

.list-controls .navigation-container {
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

//ICON
.icons {
  .btn.btn-icon,
  .btn.icon {
    width: 35px;
    height: 35px;
    padding: 4px;
    font-size: 16px;
    box-sizing: border-box;
    

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

.d-header-icons .icon {   
    width: -webkit-fill-available;
}

#current-user {
  .avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
}

#new-create-topic .d-icon {
    width: 25px;
    height: 25px;
}

//Navigation 按鈕排列&樣式

#navigation-bar {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: var(--nav-space);
    margin-right: auto;
    align-items: center;
    gap: 0.5em;
    flex: 1;
    min-width: 80%;
}

.navigation-controls {
    flex-flow: row-reverse;
    width: -webkit-fill-available;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    flex: 1;
}

.navigation-controls .btn {
    height: 40px;
}

.navigation-controls .btn.no-text .d-icon{
    width: 20px;
    height: 20px;
}

.navigation-container {
    padding: 0;
}

.select-kit.single-select.dropdown-select-box {
    margin-right: 0;
}

.categories-list .category-list th {
    padding: 10px 0 10px 0;
}

.topic-list .num .badge-posts{
    display: none;
}

.topic-list .topic-list-item-separator .topic-list-data span {
    background-color: transparent;
}

/*首頁的category區*/

.container.list-container {
    padding: 0;
}

.category-list-item.category {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.topic-list .topic-item-stats {
    padding-bottom: 1em;
}

.topic-list .main-link .topic-statuses a {
    color: var(--header_primary-low-mid);
}

.categories-list .category-list td {
    color: #D0D0D0;
    padding: 12px 10px;
}

/*我還沒搞懂*/
.category-topic-link.visited a.title:not(.badge-notification) {
    color: var(--primary-high);
}

.topic-list-item.visited .topic-list-data .badge-category, .latest-topic-list-item.visited .badge-category, .category-topic-link.visited .badge-category {
    color: var(--header_primary-low-mid);
}

.topic-list-item.visited .topic-list-data a.title:not(.badge-notification) {
    color: #D0D0D0;
}

.badge-category__wrapper .badge-category__name {
    color: #FFF;
}

/*Topic 內頁*/
//Subcategory
.category-boxes, .category-boxes-with-topics {
    display: inline-flex;
}

.category-boxes-with-topics {
    grid-template-columns: none;
}

.category-boxes-with-topics .category-box {
    border-left-width: 7.5px;
    height: 2em;
    border-radius: 5%;
    // overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    // background: rgba(255, 255, 255, 0.1);
}

.category-boxes-with-topics .category-box-heading {
    overflow-wrap: break-word;
    margin: 0 !important;
    padding-top: 1.5em;
}

.category-boxes-with-topics .category-box-heading a[href] {
    font-size: var(--font-down-2);
}

.category-boxes .category-box-inner, .category-boxes-with-topics .category-box-inner {
    box-sizing: content-box;
    width: 90%;
    display: flex;
    padding: 1em;
    border-width: 1px;
    border-left-width: 0px;
    border-style: solid;
    border-radius: 50%;
    background-color: transparent;
}

//Topic顯示方式
h3#suggested-topics-title {
    padding: 1em 0em 0em 0em;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
    border-top: 1px solid var(--header_primary-low-mid);
}

h3.more-topics__browse-more {
    margin-top: .5rem;
}

.topic-list .topic-list-data {
    padding: 15px 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.2);
}

.more-topics__container .more-topics__list .topic-list-body .topic-list-item:first-child td {
    padding-top: 15px;
}

.pull-left {
    padding: 0 1em;
}

.regular.contents {
    flex-direction: column;
}

.mobile-view .topic-owner .onscreen-post {
    padding-bottom: 0;
    margin: 1em 0;
}

.topic-avatar {
    margin-left: 10px;
}

span.relative-date {
    margin-right: 14px;
}

.topic-post>article {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.post-voting-answers-header {
    transform: scale(0.9);
}

.topic-body .cooked {
    margin: 1em 0;
}

.topic-map__contents .topic-map__stats.--single-stat button {
    margin: 0.5em 1em;
}

.post-voting-comments-menu {
    font-size: var(--font-down-1);
    margin: 0.5em 0;
}

#topic-progress-wrapper {
    justify-content: center;
    width: 100%;
}

#topic-progress-wrapper .btn {
    display: none; //隱藏多餘的按鈕
}

nav#topic-progress {
    width: -webkit-fill-available;
    border: 2px solid var(--tertiary) !important;
    border-radius: 20px;
    justify-items: center;
    margin: 1.5em 0;
}

#topic-progress-wrapper #topic-progress .bg {
    border-radius: 20px;
}

/*文字編輯器*/
#reply-control .submit-panel .save-or-cancel .cancel .svg-icon {
    background-color: #272727;
    fill: #FFD306;
}

//提示icon
.fk-d-button-tooltip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    //margin-top: 6px;
}

//last vist
.topic-list .topic-list-item-separator .topic-list-data span {
    position: relative;
    background-color: var(--danger-medium) !important;
    color: var(--secondary);
    padding: 0 .55em;
}

.post-notice {
    background-color: var(--tertiary-400);
}

//聊天室的LV
.chat-message-separator-date+.chat-message-separator__line-container {
    padding: 20px var(--scrollbarWidth) 20px var(--scrollbarWidth);
    box-sizing: border-box;
    background: var(--header_background);
}

.chat-channel {
background:var(--header_background);
}

.has-full-page-chat .c-header .c-heading {
    display: none;
}

html.has-full-page-chat body #main-outlet .full-page-chat {
    min-height: 0;
    position: fixed;
    top: 161px;
    left: 0;
    width: 100vw;
    height: 100vh;
}

//移除Forum文字
.has-full-page-chat .c-header .back-to-forum {
    font-size: 0;
}

.has-full-page-chat .c-header .back-to-forum .d-icon {
    color: var(--primary);
    font-size: var(--font-up-3-rem);
}

/*後台*/
.user-content {
    border-radius: 10px;
}

//sidebar

button.btn.no-text.btn-icon.btn-flat.sidebar-footer-actions-button.sidebar-footer-actions-toggle-mobile-view {
    display: none; /*手機版side bar隱藏切換按鈕*/
}

.sidebar-footer-wrapper {
    background: transparent;
    top: 0;
}

.sidebar-footer-wrapper .sidebar-footer-container {
    background: transparent;
}

.hamburger-panel .revamped {
    background: #222222;
}

.hamburger-panel .revamped .sidebar-footer-wrapper .sidebar-footer-container {
    background: var(--active_color);
}