/*Login頁面*/
.login-welcome {
    width: unset;
}

#main-outlet-wrapper {
    box-sizing: border-box;
    width: 100%;
    // display: grid;
    grid-template-areas: none;
    grid-template-rows: none;
    grid-template-columns: none;
    gap: 0;
    display: contents;
}

body.static-login .login-welcome {
    width: 100vw;
    background-color: rgba(50,50,100,0.1);
    border: 1px solid rgba(0,0,0,0);
    text-align: center;
    padding: 2em;
    box-shadow: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.body-page {
    max-width: unset;
}

.wrap .contents {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 0 1em;
}

//提示icon
.fk-d-button-tooltip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
}

//last vist
.topic-list .topic-list-item-separator .topic-list-data span {
    position: relative;
    background-color: var(--danger-medium) !important;
    color: var(--secondary);
    padding: 0 .55em;
}

.topic-list .topic-list-data {
    padding: 15px 0;
}

//聊天室的LV
.chat-message-separator-date+.chat-message-separator__line-container {
    padding: 20px var(--scrollbarWidth) 20px var(--scrollbarWidth);
    box-sizing: border-box;
    background: var(--header_background);
}

.chat-channel {
background:var(--header_background);
}

//導行列
.breadcrumbs__links {
    display: flex;
    list-style: none;
    margin: 1em 0;
}

//疊層順序
.signup-page-cta {
    z-index: 3;
}

.login-page-cta {
    z-index: 3;
}

#main-outlet {
    z-index: 2;
    margin: 0 2.5em;
}

/*隱藏Header New topic按鈕*/
.mobile-view #new-create-topic {
    display:none;
}

/*隱藏進度條*/
//.mobile-view {
  //#topic-progress {
    //display: none;
 // }
//}

/*Navigation 按鈕排列&樣式*/
.navigation-controls {
    flex-wrap: nowrap;
}

.navigation-controls .btn {
    width: 100%;
    height: 40px;
}

.navigation-controls .btn.no-text .d-icon{
    width: 20px;
    height: 20px;
}

.categories-list .category-list th {
    padding: 10px 0 10px 0;
}

.topic-list .num .badge-posts{
    display: none;
}

.topic-list .topic-list-item-separator .topic-list-data span {
    background-color: transparent;
}

/*首頁的category區*/
//.topic-list-item td:first-of-type, .topic-post {
  // border-bottom: 15px solid rgba(0,0,0,0); 
//}

.category-list-item.category {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.topic-list .topic-item-stats {
    padding-bottom: 1em;
}

.topic-list .main-link .topic-statuses a {
    color: var(--header_primary-low-mid);
}

.categories-list .category-list td {
    color: #D0D0D0;
    padding: 12px 10px;
}

/*我還沒搞懂*/
.category-topic-link.visited a.title:not(.badge-notification) {
    color: var(--primary-high);
}

.topic-list-item.visited .topic-list-data .badge-category, .latest-topic-list-item.visited .badge-category, .category-topic-link.visited .badge-category {
    color: var(--header_primary-low-mid);
}

.topic-list-item.visited .topic-list-data a.title:not(.badge-notification) {
    color: #D0D0D0;
}

.badge-category__wrapper .badge-category__name {
    color: #FFF;
}

/*Topic 內頁*/
.regular.contents {
    flex-direction: column;
}

.mobile-view .topic-owner .onscreen-post {
    padding-bottom: 0;
    margin: 1em 0;
}

.topic-avatar {
    margin-left: 10px;
}

span.relative-date {
    margin-right: 14px;
}

.topic-post>article {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 4px 6px rgba(0, 0, 0, .2);
    border-radius: 5px;
}

.post-voting-answers-header {
    transform: scale(0.9);
}

.topic-map__contents .topic-map__stats.--single-stat button {
    margin: 0.5em 1em;
}

.post-voting-comments-menu {
    font-size: var(--font-down-1);
    margin: 0.5em 0;
}

#topic-progress-wrapper {
    justify-content: center;
    width: 100%;
}

nav#topic-progress {
    width: -webkit-fill-available;
    border: 2px solid var(--tertiary) !important;
    border-radius: 20px;
    justify-items: center;
    margin: 1.5em 0;
}

#topic-progress-wrapper #topic-progress .bg {
    border-radius: 20px;
}

/*文字編輯器*/
#reply-control .submit-panel .save-or-cancel .cancel .svg-icon {
    background-color: #272727;
    fill: #FFD306;
}