button#create-topic {
    display: none;
}
/*首頁*/
#main-outlet-wrapper {
    /*背景半透明*/
    background:rgba(0,0,0,0.5);
    padding: 2em 2em 2em 2.2em; // 簡化 padding-right/left
    //max-width: 90vw; /* 設定隨螢幕大小變更占比 */
    min-height: 100vh;
    margin: 0 auto;
    //box-sizing: border-box;
    //justify-content: center;
}

#main-outlet {
    max-width: 1280px;
    width: calc(100% - 200px);
    margin: 0 auto;
    padding: 1em;
}

.rs-component {
    border-bottom: 1px solid var(--header_primary-medium);
    padding-bottom: 2em;
}

/*----------------分隔線--------------------*/

/*首頁的category區*/

/*Topic欄位顯示方式*/
/*.category-list .topics .value {
    color:#FFD306;
} */


/*----------------分隔線--------------------*/
//Topic 內文樣式
.cooked h3, .d-editor-preview h3 {
    font-size: var(--font-up-1-rem);
    margin-left: 1em;
}

h1+p, h2+p, h3+p, h4+p, h5+p, h6+p {
    margin-top: 0;
    margin-left: 2em;
}

li {
    padding: 0.5em 0;
}

/*----------------分隔線--------------------*/

//Sidebar

body.has-sidebar-page #main-outlet-wrapper {
    grid-template-columns: 250px 1fr;
    padding-left: 0;
}

body.has-sidebar-page .wrap {
    max-width: 90vw;
}

/*----------------------------------*/
// DM
.chat-drawer-outlet-container {
    //position: absolute;
    //top: 56px;
    --composer-right: 150px !important;
}

.chat-drawer-content {
    background: #3C3C3C;
}

button.btn.no-text.btn-icon.btn-transparent.no-text.c-navbar__full-page-button {
    display: none;
    pointer-events: none;
}

/*----------------------------------*/
//回文的popup訊息
.composer-popup {
    right: 90px;
    width: 25vw;
}

.d-editor-preview-wrapper {
    flex: 1;
    padding-right: calc(30vw);
    transition: padding-right 0.3s ease-in-out;
}

.d-editor-preview {
    height: auto;
    border: 1px solid var(--header_primary-low-mid);
    border-radius: 5px;
}

.d-editor-preview::before {
    content: "Here you can preview what you type：";  /* 設定顯示的文字 */
    display: block;            /* 讓文字顯示為塊級元素 */
    margin-top:0.5em;
    margin-left: 1em;          /* 設定文字與內容的間距 */
    color: var(--header_primary-low-mid);            /* 設定文字顏色 */
}

.cooked>*:first-child, .d-editor-preview>*:first-child {
    margin-top: 0.5em;
    margin-left: 1em;
}

/*----------------------------------*/
//sidebar 出現時往左推

body #main-outlet-wrapper {
    grid-template-areas: "content sidebar";
    grid-template-columns: minmax(0, 1fr);
    transition: grid-template-columns 0.5s ease; }
    
body.sidebar-animate #main-outlet-wrapper {
    grid-template-areas: "content sidebar";
}
    
body.has-sidebar-page #main-outlet-wrapper {
    grid-template-areas: "content sidebar";
    padding: 2em 5%;
    grid-template-columns: minmax(0, 1fr) 10em;
    transition: grid-template-columns 0.5s ease; //讓 sidebar 寬度變化有動畫
   }

//Admin panel按鈕往右移
.header-sidebar-toggle {
    order: 1;
  }

/*----------------------------------*/
/* ====== 新增動畫用的 ====== */
// Main內容滑動

body #main-outlet {
    transition: transform 0.5s ease; // 平滑移動
}

/*body.has-sidebar-page #main-outlet {
    transform: translateX(-20px); // 左推 20px
}*/

//收回時也滑順
body:not(.has-sidebar-page) #main-outlet {
    transform: translateX(0);
}

.dashboard-next .section-columns .section-column:last-child {
    margin: 0 2em 0 2em;
}

.dashboard-next .charts .chart-canvas-container {
    position: relative;
    margin-left: -5px;
    max-width: 100%;
    overflow-x: auto;
}
