button#create-topic {
    display: none;
}

.rs-component {
    border-bottom: 1px solid var(--header_primary-medium);
    padding-bottom: 2em;
}

//Sidebar

body.has-sidebar-page #main-outlet-wrapper {
    grid-template-columns: 250px 1fr;
    padding-left: 0;
}

body.has-sidebar-page .wrap {
    max-width: 90vw;
}

// DM
.chat-drawer-outlet-container {
    //position: absolute;
    //top: 56px;
    --composer-right: 150px !important;
}

.chat-drawer-content {
    background: #3C3C3C;
}

button.btn.no-text.btn-icon.btn-transparent.no-text.c-navbar__full-page-button {
    display: none;
    pointer-events: none;
}

//回文的popup訊息
.composer-popup {
    right: 90px;
    width: 25vw;
}

.d-editor-preview-wrapper {
    flex: 1;
    padding-right: calc(30vw);
    transition: padding-right 0.3s ease-in-out;
}

.d-editor-preview {
    height: auto;
    border: 1px solid var(--header_primary-low-mid);
    border-radius: 5px;
}

.d-editor-preview::before {
    content: "Here you can preview what you type：";  /* 設定顯示的文字 */
    display: block;            /* 讓文字顯示為塊級元素 */
    margin-top:0.5em;
    margin-left: 1em;          /* 設定文字與內容的間距 */
    color: var(--header_primary-low-mid);            /* 設定文字顏色 */
}

.cooked>*:first-child, .d-editor-preview>*:first-child {
    margin-top: 0.5em;
    margin-left: 1em;
}

//sidebar 出現時往左推
body #main-outlet-wrapper {
    grid-template-areas: "content sidebar";
    grid-template-columns: minmax(0, 1fr);
}
    
body.sidebar-animate #main-outlet-wrapper {
    grid-template-areas: "content sidebar";
}
    
body.has-sidebar-page #main-outlet-wrapper {
    grid-template-areas: "content sidebar";
    grid-template-columns: minmax(0, 1fr) 0px !important;
    padding: 2em 5%;
    grid-template-columns: 1fr !important;
    grid-template-areas: "content" !important;
}