button#create-topic {
    display: none;
}

.rs-component {
    border-bottom: 1px solid var(--header_primary-medium);
    padding-bottom: 2em;
}

//Sidebar

body.has-sidebar-page #main-outlet-wrapper {
    grid-template-columns: 250px 1fr;
    padding-left: 0;
}

body.has-sidebar-page .wrap {
    max-width: 90vw;
}

// DM
.chat-drawer-outlet-container {
    //position: absolute;
    //top: 56px;
    --composer-right: 150px !important;
}

.chat-drawer-content {
    background: #3C3C3C;
}

svg.fa.d-icon.d-icon-discourse-expand.svg-icon.svg-string {
    display: none;
}


//body #main-outlet-wrapper {
    //grid-template-areas: "content sidebar";
    //grid-template-columns: minmax(0, 1fr);
//}
    
//body.sidebar-animate #main-outlet-wrapper {
    //grid-template-areas: "content sidebar";
//}
    
//body.has-sidebar-page #main-outlet-wrapper {
    //grid-template-areas: "content sidebar";
    //grid-template-columns: minmax(0, 1fr) 0px !important;
    //padding: 2em 5%;
    //grid-template-columns: 1fr !important;
    //grid-template-areas: "content" !important;
//}